---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
import { AfterLogin } from "../data/data";

//style
import "../styles/components/header.scss";
//components
import Responsive from "./header/responsive.astro";
import Button from "../components/ui/Button.astro";
import UlLink from "./header/UlLink.astro";

---

<header>
  <div class="container">
    <nav class="d-flex align-items-center py-6 justify-space-between">
      <a href="/" class="logo">
        <Image
          src={Logo}
          alt={`logo for AtheleteZone`}
          format="webp"
          quality={70}
          class={`img-cover`}
        />
      </a>
      <Button
        type="button"
        airaLabel="menu"
        airaExpanded="false"
        airaControls="mobileResponsive"
        ClassName="btn icon-nav-base"
      >
        <span></span><span></span><span></span>
      </Button>
        <UlLink data={AfterLogin} isLogin={true}/>
      <Responsive data={AfterLogin} isLogin={true}/>
    </nav>
  </div>
</header>
<script src="../scripts/headerBerforLogin.ts"></script>
